# Common IntelliJ Platform excludes
**/.idea/

*.suo
*.user
.vs/
[Bb]in/
[Oo]bj/
!.github/bin/
_UpgradeReport_Files/
[Pp]ackages/
mono_crash.*.json
FodyWeavers.xsd
BenchmarkDotNet.Artifacts
xunit.runner.console.*/

Thumbs.db
Desktop.ini
.DS_Store
